@model List<ResultWriterDto>
	<section id="special-offer" class="bookshelf pb-5 mb-5">

		<div class="section-header align-center">
			<div class="title">
				<span>Yazarlar覺m覺z</span>
			</div>
			<h2 class="section-title">Yazarlar覺m覺z</h2>
		</div>

		<div class="container">
			<div class="row">
				<div class="inner-content">
					<div class="product-list" data-aos="fade-up">
						<div class="grid product-grid">
							
							@foreach (var item in Model){
								<div class="product-item">
								<figure class="product-style">
									<img src="@item.ImageUrl" alt="Books" class="product-item">
									
								</figure>
								<figcaption>
									<h3>@item.Name</h3>
									<span>@item.Description</span>									
								</figcaption>
							</div>
							}

							

							
						</div><!--grid-->
					</div>
				</div><!--inner-content-->
			</div>
		</div>
	</section>