@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Hoşgeldiniz</h2>
            <p>Bu sayfa Default Controller'ın Index sayfasıdır.</p>
        </div>
    </div>
</div> 