<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">



@await Component.InvokeAsync("_HeadComponentPartial")


<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">

	@await Component.InvokeAsync("_HeaderComponentPartial")

	@await Component.InvokeAsync("_FeatureComponentPartial")

	@await Component.InvokeAsync("_ClientHolderComponentPartial")

	@await Component.InvokeAsync("_FeaturedBooksComponentPartial")

	@await Component.InvokeAsync("_BestSellingComponentPartial")

	@await Component.InvokeAsync("_PopularBooksComponentPartial")

	@await Component.InvokeAsync("_QuoteComponentPartial")

	@await Component.InvokeAsync("_SpecialOfferComponentPartial")

	@await Component.InvokeAsync("_SubscribeComponentPartial")
	
	@await Component.InvokeAsync("_LatestBlogComponentPartial")

	
	@await Component.InvokeAsync("_FooterComponentPartial")

	

	@RenderBody()


</body>

</html>
